{% extends "pages/base.html" %}

{% block title %}VPS{% endblock %}

{% block content %}
  <div class="container col-sm-6 col-lg-6 text-center mx-auto mt-5 justify-content-center">
    <h3 class="text-primary m-4 font-weight-bolder">Bảng giá Cloud VPS</h3>
    <p>Tổng hợp bảng giá Cloud VPS của các nhà cung cấp lớn ở Việt Nam và trên thế giới,
      giúp bạn thuê được VPS rẻ nhất, tiết kiệm nhất.</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary font-weight-bolder">NCC Trong nước</button>
      <button type="button" class="btn btn-primary font-weight-bolder">NCC Quốc tế</button>
    </div>
    <form>
      <select name="cars" class="custom-select mt-3 w-25">
        <option selected value="1">1 tháng</option>
        <option value="3">3 tháng</option>
        <option value="6">6 tháng</option>
        <option value="12">12 tháng</option>
      </select>
    </form>
  </div>
  <div class="col-sm-8 col-lg-8 text-center mx-auto mt-5">
    <div class="container">
      <div class="table-responsive-lg">
        <table class="table">
          <thead class="text-center">
            <tr style="background-color: #00a3e6;">
              <th>Nhà cung cấp</th>
              <th>Tên gói</th>
              <th>Giá</th>
              <th>vCPU</th>
              <th>SSD</th>
              <th>RAM</th>
              <th></th>
            </tr style="border-bottom:  #7ca135;">
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-bolder m-3"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <tr>
              <td class="font-weight-bolder m-3"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container col-md-8 text-center">
    <pre style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;" class="m-1 font-italic">
      ***Giá đã bao gồm VAT hoặc phí ICANN nếu có.
      Nhấn vào biểu tượng <i class="fas fa-link m-1 text-primary"></i> để xem thông tin chi tiết.
    </pre>
    <p class="mb-3"><b>Sử dụng ô Tìm kiếm</b> để xem thêm.</p>
  </div>
{% endblock %}